---
layout: default
---

<!-- Header -->
<!-- <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                  <h2 class="mx-auto mt-2 mb-5">Capture adventures as you experience it.</h2>
                  <a href="#Contact" class="btn btn-primary js-scroll-trigger">Get on the waiting list</a>
            </div>
      </div>
</header> -->

<!-- About Section -->
<section id="About" class="about-section text-center">
      <div class="container">
            <div class="row">
                  <div class="col-lg-8 mx-auto">
                        <h1 class="text-white mb-4"></h1>
                        <p class="text-white-50"></p>
                  </div>
            </div>
            <img src="img/main.png" class="img-fluid" alt="">
      </div>
</section>

<!-- Projects Section -->
<section id="Projects" class="projects-section bg-light">
      <div class="container">

<!-- Project One Row -->

<div class="row">
    <div class="col-12">
        <div class="card-deck">
                {% for post in site.posts %}
            <div class="card shadow-sm">
                <img class="card-img-top" src="{{ post.preview }}" alt="{{ post.title }}">
                <div class="card-body">
                    <h5 class="card-title"><a class="" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


      </div>
</section>

<!-- Signup Section -->
<section id="Contact" class="signup-section">
<div class="container">
      <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

                  <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                  <p class="text-white mb-5">Ready to get started on your next project. Contact us today.</p>
                  
                  <form class="form-inline d-flex" name="waiting list" method="POST" data-netlify="true" id="waiting-list">
                        <input type="email" name="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
                        <button type="submit" class="btn btn-primary mx-auto">Submit</button>
                  </form>

            </div>
      </div>
</div>
</section>

<!-- Social Section -->
<section class="contact-section bg-black">
      <div class="container">
            <div class="social d-flex justify-content-center">
                  {% for url in site.data.settings.social_settings %}
                  {% if url[1] != '' %}
                        <a href="{{ url[1] }}" target="_blank" class="mx-2 socials__item__link" title="{{ url[0] | remove: '_url' | replace: '-', ' ' | capitalize }}">
                        <i class="fab fa-{{ url[0] | replace: 'facebook', 'facebook-f' | remove: '_url' }}" aria-hidden="true"></i>
                  </a>
                  {% endif %}
                  {% endfor %}
            </div>
      </div>
</section>