<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="{{ site.data.settings.basic_settings.author_name }}">
    
    <title>{{ site.data.settings.basic_settings.site_title }}</title>
    
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    {{ site.data.settings.font_settings.font_embed }}

    <!-- Custom styles for this template -->
    <link href="css/grayscale.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="{{ '/img/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="icon" href="{{ '/img/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">

</head>
