<div class="row">
    <div class="col-md-12">
        <h2>A simple elegant travel journal to help you tell your story.</h2>
        <h4>Document your adventures to create an amazing story to share with family and friends&mdash;or the world.</h4>
    </div>

    <!-- {% for block in site.data.stories.story %}
    <div class="col-md-6 card-container">
        <a href="{{ block.link }}">
        <div class="card mb-5">
            <img class="img-fluid" src="{{ block.image }}">
            <div class="card-body">
                <h1>{{ block.title }}</h1>  
                {% if block.subtitle %}
                <h4 class="card-subtitle font-italic"> {{ block.subtitle }}</h4>
                {% endif %}
                <time datetime="{{ block.dates }}">{{ block.dates }}</time>
            </div> 
        </div>
        </a>
    </div>
    {% endfor %} -->
</div>