---
layout: default
---
<!-- Story heading -->
<div class="row">
  <!-- <div class="col-6">
    <div class="story-image">
      <img class="img-fluid" src="{{ page.preview }}"/>
    </div>
  </div> -->
  <div class="col-12">
    <div class="story-header pt-5 pl-5 text-center">
      <h1 class="story-title pb-1">{{ page.title }}</h1> 
      {% if page.subtitle %}
        <h4 class="story-subtitle font-italic"> {{ page.subtitle }}</h4>
      {% endif %}
      
      <p class="story-location">{{ page.location }}</p>
      <div class="story-author-img mt-5">
        <img src="{{ page.author_avatar }}" class="rounded-circle" />
      </div>
      <p class="story-author mb-5"><span>By</span> {{ page.author }}</p>
    </div> <!-- /.story-header -->  
  </div>
</div>
<!-- /Story heading -->
<hr>
<!-- Post enties -->
<div class="row">
  <div class="col">
    {% for post in site.categories.[page.category] %}
    <div class="post-date mb-1">{{ post.date | date_to_string: "%B %-d, %Y" }} <span>at</span> {{ post.date | date: "%I:%M %P" }}</div>

    <!-- <h5 class="post-title">{{ post.title }}</h5> -->
    {% if post.subtitle %}
      <p class="post-subtitle mb-3">
        <!-- <i class="fas fa-map-marker-alt"></i> --> 
        @ {{ post.subtitle }}</p> 
    {% endif %}
    <div class="blog-post-content">
    {{ post.content }}
    </div>  
    <hr class="my-5">
    {% endfor %}
  </div> <!-- /.col -->
</div> <!-- /.row -->
<!-- /Post enties -->